{% extends "base.html" %}

{% block content %}
    {# <div class="w-[1000px] h-[800px]"> #}
    <canvas id="lineChart" class="w-[1000px] h-[800px] self-center"></canvas>
    {# </div> #}
{% endblock %}

{% block scripts %}
    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{labels | safe }},
                datasets: [
                    {
                        label: "Moisture Reading",
                        data: {{ values | safe }},
                        fill: false, 
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false
            }

        })
    </script>
{% endblock %}