{% extends "base.html" %}
{% block content %}
    <div class="self-center items-center justify-center">
        <button id="btn-1day" class="btn btn-outline">1 Day</button>
        <button id="btn-1week" class="btn btn-outline btn-primary">1 Week</button>
        <button id="btn-1month" class="btn btn-outline btn-secondary">1 Month</button>
        <button id="btn-custom" class="btn btn-outline btn-accent">Custom Range</button>
        <div class="bg-neutral p-8 mt-6 rounded-lg">
            <canvas id="chart" class="w-[1000px] h-[800px] pt-6"></canvas>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="/static/js/charts.js" defer></script>
{% endblock scripts %}
