{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Tomato Wetness App</h1>
<p>Last moisture reading at {{ monthly_moisture[0] }}</p>
<p>Second Last moisture reading at {{ monthly_moisture[1] }}</p>


<div >/</div>

<div class="centerDiv">
<h1>28 Day History</h1>

<div class="grid-container">
    <!-- 28 boxes inside the grid container -->
     <div class="box" style="background-color: {{ monthly_moisture[0][2]}};">{{monthly_moisture[0][1]}}%</div> 
     <div class="box" style="background-color: {{ monthly_moisture[1].box_colour }};">{{monthly_moisture[1].percent}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[2][2] }};">{{monthly_moisture[2][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[3][2] }};">{{monthly_moisture[3][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[4][2] }};">{{monthly_moisture[4][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[5][2] }};">{{monthly_moisture[5][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[6][2] }};">{{monthly_moisture[6][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[7][2] }};">{{monthly_moisture[7][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[8][2] }};">{{monthly_moisture[8][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[9][2] }};">{{monthly_moisture[9][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[10][2] }};">{{monthly_moisture[10][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[11][2] }};">{{monthly_moisture[11][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[12][2] }};">{{monthly_moisture[12][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[13][2] }};">{{monthly_moisture[13][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[14][2] }};">{{monthly_moisture[14][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[15][2] }};">{{monthly_moisture[15][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[16][2] }};">{{monthly_moisture[16][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[17][2] }};">{{monthly_moisture[17][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[18][2] }};">{{monthly_moisture[18][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[19][2] }};">{{monthly_moisture[19][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[20][2] }};">{{monthly_moisture[20][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[21][2] }};">{{monthly_moisture[21][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[22][2] }};">{{monthly_moisture[22][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[23][2] }};">{{monthly_moisture[23][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[24][2] }};">{{monthly_moisture[24][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[25][2] }};">{{monthly_moisture[25][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[26][2] }};">{{monthly_moisture[26][1]}}%</div>
     <div class="box" style="background-color: {{ monthly_moisture[27][2] }};">{{monthly_moisture[27][1]}}%</div>
  </div>

<div></div>



</div>
{% endblock %}

