<!DOCTYPE html>
<html lang="en" data-theme="garden">
  <head>
    <title>🍅 Tomato App</title> {# TODO CONVERT THIS TO DYNAMIC CONTENT#}
    <meta name="description" content="The best plant watering app ever!">
    <meta name="keywords" content="tomato, app, plant, watering">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5"
          rel="stylesheet"
          type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
          rel="stylesheet"
          type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    {# <link rel="stylesheet"
       href="{{ url_for('static', filename='css/main.css') }}"> #}
    {% block head %}
    {% endblock head %}
  </head>
  <style>
  body {
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  </style>
  <body class="flex flex-col min-h-screen">
    <div class="navbar bg-base-100 shadow-sm">
      <div class="flex-none">
        {# Dropdown Code #}
        <details class="dropdown">
          <summary class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 class="inline-block h-5 w-5 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </summary>
          <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
            <li>
              <a href="{{ url_for('index.show_homepage') }}">Home</a>
            </li>
            <li>
              <a href="{{ url_for('charts.show_charts') }}">Charts</a>
            </li>
            <li>
              <a href="{{ url_for('stats.show_stats') }}">Stats</a>
            </li>
          </ul>
        </details>
      </div>
      <div class="flex-1">
        <a href="{{ url_for('index.show_homepage') }}"
           class="btn btn-ghost text-xl">Plant Monitor</a>
      </div>
      <div class="flex items-center justify-start space-x-4 px-4">
        <img src="{{ url_for('static', filename='images/light-mode.png') }}"
             alt="Dark Mode Icon"
             height="24"
             width="24" />
        <label class="relative inline-block w-12 h-7">
          <!-- Hidden checkbox -->
          <input type="checkbox"
                 class="sr-only peer"
                 data-toggle-theme="garden,forest"
                 data-act-class="ACTIVECLASS" />
          <!-- Background track -->
          <div class="w-full h-full bg-gray-300 rounded-full peer-checked:bg-gray-700 transition-colors"></div>
          <!-- Slider knob -->
          <div class="absolute top-1 left-1 w-5 h-5 bg-white rounded-full shadow transition-transform peer-checked:translate-x-5">
          </div>
        </label>
        <img src="{{ url_for('static', filename='images/dark-mode.png') }}"
             alt="Dark Mode Icon"
             height="24"
             width="24" />
      </div>
      <div class="flex-none">
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('admin.index') }}"
             class="text-neutral-content btn btn-ghost text-l bg-neutral">Admin</a>
          <a href="{{ url_for('auth.logout') }}"
             class="text-neutral-content btn btn-ghost text-l bg-neutral">Logout</a>
        {% else %}
          <a href="{{ url_for('auth.login') }}"
             class="text-neutral-content btn btn-ghost text-l bg-neutral">Login</a>
        {% endif %}
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="w-1/2 bg-red-500 text-white mx-auto p-4 rounded-lg mb-4">{{ message }}</div>
          {% else %}
            <div class="bg-green-500 text-white p-4 rounded-lg mb-4">
              {{ message }}
              <button type="button"
                      class="ml-4 text-white"
                      onclick="this.parentElement.style.display='none'">×</button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock content %}
    <footer class="w-full bg-neutral text-neutral-content py-6 mt-16 fixed bottom-0">
      <div class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between">
        <p class="text-sm">© 2025 Tomato Tracker. All rights reserved.</p>
        <div class="flex space-x-4 mt-4 md:mt-0">
          <a href="#" class="text-sm hover:underline">About</a>
          <a href="https://github.com/DevilinAus/plantproject"
             class="text-sm hover:underline">GitHub</a>
          <a href="#" class="text-sm hover:underline">Contact</a>
        </div>
      </div>
    </footer>
    {% block scripts %}
      <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    {% endblock scripts %}
  </body>
</html>
